<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="com.ead.notification.configs.PrettyPrintingDecorator"/>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>
